<!-- On inclus le contenu dans un row et une colonne pour limiter la largeur -->
<div class="container">
	<div class="row">
		<div class="col-6 mx-auto">
			<h1 class="text-center m-4">Contact</h1>

			<div class="card bg-light mb-4">
				<div class="card-body">
					<p class="text-center m-4"> Sur slack ❤ </a></p>
				</div>
			</div>
		</div>
	</div>
</div>

