<!-- On inclus le contenu dans un row et une colonne pour limiter la largeur -->
<div class="container">
	<div class="row">
		<div class="col-6 mx-auto">

			<h1 class="text-center m-4">La Team</h1>


			<div class="row">

						<img class="card-img-top" src="https://media.giphy.com/media/L3EBm5byWFgNzrCmkS/giphy.gif" alt="Card image cap">
						<div class="card-body">
							<h5 class="text-center m-4"> BOUUH </h5>
						</div>



		</div>
	</div>
</div>
